option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "stirhackproject.settings"
    "PYTHONPATH": "/opt/python/current/app/stirhackproject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: stirhackproject/stirhackproject/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
