{% extends 'fixit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Report an Issue
{% endblock %}

{% block body_block %}
     <h1>Report an Issue
             <p><a href="{% url 'register' %}">
        <img src="{% static "images/upspanner.png" %}" alt="Upvotes!"></a>
        </p>
     </h1>
         <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li></br>
        </ul>   
        <div>

            <form id="issue_form" method="post" action="" enctype="multipart/form-data">

                {% csrf_token %}

                {{ issue_form.as_p}}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}

                <p>Capture Image: <input type="file" accept="image/*" id="capture" capture="camera"> </p>
                
                <input type="submit" name="submit" value="Submit Issue" />
            </form>
        </div>
{% endblock %}