<!DOCTYPE html> 
{% load staticfiles %}
{% load pwa %}
<html>
    <head>
		{% progressive_web_app_meta %}
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <title>
            My Maintanence - 
            {% block title_block %} 
                Fix It
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
		<div>
        <br/>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
		</div>		
    </body>
</html>