<!DOCTYPE html> 
{% load staticfiles %}
{% load pwa %}
<html>
    <head>
		{% progressive_web_app_meta %}
        <link rel="stylesheet" href="{% static "css/master.css" %}" />
        <title>
            My Maintanence - 
            {% block title_block %} 
                Report any maintanence issues on Campus!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            <h1>
            	Report issues at the University of Glasgow!
            </h1>
            {% endblock %}
        </div>
    </body>
</html>