<!DOCTYPE html> 
{% load staticfiles %}
{% load pwa %}
<html>
    <head>
		{% progressive_web_app_meta %}
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <title>
            My Maintanence - 
            {% block title_block %} 
                Fix It
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            <h1>
            	Report Issues at the University of Glasgow!
            </h1>
            {% endblock %}
            Test Test Test 
        </div>
    </body>
</html>