{% extends 'fixit/base.html' %}
{% load staticfiles %}

{% block title_block %}
	FixIt - Report repair issues in Uni!
{% endblock %} 

{% block body_block %}
	<h1>
    	Report Issues at the University of Glasgow<br />
    	<p><a href="{% url 'register' %}">
		<img src="{% static "images/upspanner.png" %}" alt="Upvotes!"></a>
		</p>
    </h1>

    <ul>
  		<li><a href="{% url 'addIssue' %}">Report an issue</a></li>
  		<li><a href="{% url 'about' %}">About</a></li></br>
  	</ul>    

	<h2>
		Previously Reported
	</h2>
	{% if issues %}
		{% for issue in issues %}
		
		<div class="img">
			<img src="/media/{{ issue.images }}" alt="Something" />
			<div>{{ issue.title }}</br>{{ issue.location_bdg }} - {{ issue.location_detail }}</div>
			<div>Upspanners: {{ issue.upvotes }}</div>
		</div>
		<br clear='left'>
	
		{% endfor %}
	{% else %}
		There are no issues.
	{% endif %}
{% endblock %}