{% extends 'fixit/base.html' %}
{% load staticfiles %}

{% block title_block %}
	FixIt - Report repair issues in Uni!
{% endblock %} 

{% block body_block %}
	
		<h1>
        	Report Issues at the University of Glasgow<br />
			<img src="{% static "images/upspanner.png" %}" alt="Upvotes!" />
        </h1>
	<h2>
		Previously Reported
	</h2>
	<a href="{% url 'addIssue' %}">Report an issue</a><br/>
	{% if issues %}
		{% for issue in issues %}
	
		<div class="img">
			<img src="/media/{{ issue.images }}" alt="Something" />
			<div>{{ issue.title }}</br>{{ issue.location_bdg }} - {{ issue.location_detail }}</div>
			<div>Upspanners: {{ issue.upvotes }}</div>
		</div>
		<br clear='left'>
	
		{% endfor %}
	{% else %}
		There are no issues.
	{% endif %}
{% endblock %}