{% extends 'fixit/base.html' %}
{% load staticfiles %}

{% block title_block %}
	FixIt - Report repair issues in Uni
{% endblock %}

{% block body_block %}

<h1>FixIt</h1>
<div>
Welcome to FixIt!
</div>

<div>
	<strong>Login</strong><br/>
	<form id="login_form" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" />
		<br/>
		Password: <input type="password" name="password" value="" size="50" />
		<br/>
		<input type="submit" value="Login" />
	</form>
</div>
{% endblock %}